@use "../theme-variables" as *;

a {
    text-decoration: none;
    color: $secondary;
    transition: color $transition;
}

a:hover {
    color: $secondary--hover;
    text-decoration: underline;
}

a:active {
    color: $secondary--active;
}

a:visited,
a[current] {
    color: $primary;
}

a:visited:hover,
a[current]:hover {
    color: $primary--hover;
}

a:visited:active,
a[current]:active {
    color: $primary--active;
}
