@use "../theme-variables" as *;

details {
    padding: $spacing;

    border-radius: $radius;
}

details:not([open]) > *:not(summary) {
    display: none;
}

summary {
    display: flex;
    cursor: pointer;

    align-items: center;
    justify-content: space-between;
    padding: $spacing;
    overflow: hidden;
    font-size: 1.1rem;
    list-style: none;

    border-radius: $radius;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: " +";
    font-size: 1.5rem;
    color: $primary;
}

details[open] summary:after {
    content: " -";
}

details[open] summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    margin-bottom: $spacing;
}
