@use "../theme-variables" as *;
@use "buttons" as *;

form > * {
    margin: $spacing 0;
}

textarea {
    display: inline-block;

    border: $border-width $border-style $border-color;
    border-radius: $radius;
    box-shadow: none;

    transition: border-color 0.25s ease-in-out;
    background-color: transparent;
    font-size: 0.95rem;
    padding: $spacing calc($spacing * 2);

    accent-color: $primary;
}

input {
    &:not([type="button"]):not([type="submit"]):not([type="reset"]) {
        display: inline-block;

        border: $border-width $border-style $border-color;
        border-radius: $radius;
        box-shadow: none;

        font-size: 0.95rem;
        padding: $spacing calc($spacing * 2);
        transition: border-color 0.25s ease-in-out;
        background-color: transparent;

        accent-color: $primary;

        &:not([type="radio"]):not([type="checkbox"]) {
            padding: $spacing;
        }

        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;

            margin: 0;
        }

        &[type="number"] {
            -moz-appearance: textfield;
        }

        &[type="checkbox"] {
            display: inline-block;
            cursor: pointer;

            height: 1.5rem;
            width: 1.5rem;
        }

        &[type="radio"] {
            cursor: pointer;
        }

        &[type="color"] {
            cursor: pointer;

            height: calc($spacing * 2 + 2rem);

            padding: $spacing;
        }

        &[aria-invalid] {
            border-color: $destructive;
        }
    }

    &[type="button"] {
        @include button();
    }

    &[type="submit"] {
        @include button-styles("primary", "full");
    }

    &[type="reset"] {
        @include button-styles("destructive", "full");
    }

    &::-webkit-file-upload-button {
        @include button-styles("primary", "full");
    }
}
