@use "../theme-variables" as *;

form > * {
    margin: $spacing 0;
}

textarea {
    display: inline-block;

    border: $border-width $border-style $border-color;
    border-radius: $radius;
    box-shadow: none;

    transition: border-color $transition;
    background-color: transparent;
    font-size: 0.95rem;
    padding: $spacing calc($spacing * 2);

    accent-color: $primary;
}

input {
    &:not([type="button"]):not([type="submit"]):not([type="reset"]) {
        display: inline-block;

        border: $border-width $border-style $border-color;
        border-radius: $radius;
        box-shadow: none;

        font-size: 0.95rem;
        padding: $spacing calc($spacing * 2);
        transition: border-color $transition;
        background-color: transparent;

        accent-color: $primary;

        &:not([type="radio"]):not([type="checkbox"]) {
            padding: $spacing;
        }

        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;

            margin: 0;
        }

        &[type="number"] {
            -moz-appearance: textfield;
        }

        &[type="checkbox"] {
            display: inline-block;
            cursor: pointer;

            height: 1.5rem;
            width: 1.5rem;
        }

        &[type="color"] {
            cursor: pointer;

            height: calc($spacing * 2 + 2rem);

            padding: $spacing;
        }

        &[aria-invalid] {
            border-color: $destructive;
        }

        // TODO: Do file type button styling in buttons.scss
        &[type="file"] {
            &::file-selector-button {
                background-color: #4caf50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}
