@use "../theme-variables" as *;

ul {
    list-style: none;
    padding: $spacing;
    overflow: hidden;
}

ul > * {
    padding: $spacing;
}

ol {
    padding: $spacing;
    padding-left: calc(1.5rem + $spacing);
    overflow: hidden;
}

ol > * {
    padding: $spacing;
}

dl {
    padding: $spacing;
}

dl > dd {
    margin-left: 1.5rem;
    font-size: 0.95rem;
}

dl > dd:not(:last-child) {
    margin-bottom: 0.25rem;
}
