@use "../theme-variables" as *;

h1 {
    font-size: 2;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1;
}

h6 {
    font-size: 0.75rem;
}

p {
    padding: $spacing;
}

label[for],
label:has(input) {
    --wght: 350;
    --slnt: -10;

    cursor: pointer;
    font-size: 0.9rem;
}
