$font-name: "Recursive";

*,
*::before,
*::after {
    font-variation-settings:
        "MONO" var(--mono),
        "CASL" var(--casl),
        "wght" var(--wght),
        "slnt" var(--slnt),
        "CRSV" var(--CRSV);
}

html,
body {
    --mono: 0;
    --casl: 1;
    --wght: 400;
    --slnt: 0;
    --CRSV: 0.5;

    font-family: $font-name;
}

blockquote {
    --wght: 350;
    --slnt: -10;

    font-family: $font-name;
}

code,
kbd,
pre,
samp {
    --mono: 1;
    --casl: 0;

    font-family: $font-name;
}

summary::after {
    --wght: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --wght: 700;
    --slnt: -3;
}

b {
    --wght: 600;
}

i {
    --slnt: -10;
}

table thead,
table th {
    --wght: 500;
}

table tbody,
table td {
    --mono: 1;
    --casl: 1;
    --wght: 350;
}

dt {
    --wght: 600;
}

fieldset legend {
    --wght: 650;
    --slnt: -3;
}
