@use "sass:color";

$hue: 240;

$color-50: hsla($hue, 10%, 98%);
$color-100: hsla($hue, 10%, 96%);
$color-200: hsla($hue, 10%, 90%);
$color-300: hsla($hue, 10%, 84%);
$color-400: hsla($hue, 10%, 65%);
$color-500: hsla($hue, 10%, 46%);
$color-600: hsla($hue, 10%, 34%);
$color-700: hsla($hue, 10%, 26%);
$color-800: hsla($hue, 10%, 16%);
$color-900: hsla($hue, 10%, 10%);
$color-950: hsla($hue, 10%, 4%);

$bg: $color-50;
$text: $color-950;

$primary: $color-700;
$primary-text: $bg;
$primary--hover: color.adjust($primary, $lightness: 5%);
$primary--active: color.adjust($primary, $lightness: 10%);

$secondary: $color-400;
$secondary-text: $text;
$secondary--hover: color.adjust($secondary, $lightness: -5%);
$secondary--active: color.adjust($secondary, $lightness: -10%);

$destructive: #dc2828; // -600
$destructive-text: #fee2e2; // -100
$destructive--hover: color.adjust($destructive, $lightness: 5%);
$destructive--active: color.adjust($destructive, $lightness: 10%);

$muted: color.adjust($bg, $lightness: -20%);
$muted-text: color.adjust($text, $lightness: 15%);

$info: color.adjust($bg, $lightness: -10%);
$info-text: $text;

$warning: #b37614; // -600
$warning-text: #f9f2c8; // -100

$error: $destructive;
$error-text: $destructive-text;

$backdrop-color: rgba($bg, 0.75);
$border-color: $color-300;
