@use "sass:color";

// hsl: 240, 10%, 10%; https://uicolors.app/create
$color-50: #f7f7f8;
$color-100: #ededf1;
$color-200: #d7d8e0;
$color-300: #b5b6c4;
$color-400: #8c8fa4;
$color-500: #6e7189;
$color-600: #585971;
$color-700: #48495c;
$color-800: #3e3e4e;
$color-900: #373843;
$color-950: #373843;

$bg: $color-50;
$text: $color-950;

$primary: $color-700;
$primary-text: $bg;
$primary--hover: color.adjust($primary, $lightness: 5%);
$primary--active: color.adjust($primary, $lightness: 10%);

$secondary: $color-400;
$secondary-text: $text;
$secondary--hover: color.adjust($secondary, $lightness: 5%);
$secondary--active: color.adjust($secondary, $lightness: 10%);

$destructive: #dc2828; // -600
$destructive-text: #fee2e2; // -100
$destructive--hover: color.adjust($destructive, $lightness: 5%);
$destructive--active: color.adjust($destructive, $lightness: 10%);

$muted: color.adjust($bg, $lightness: -20%);
$muted-text: color.adjust($text, $lightness: 15%);

$info: color.adjust($bg, $lightness: -10%);
$info-text: $text;

$warning: #b37614; // -600
$warning-text: #f9f2c8; // -100

$error: $destructive;
$error-text: $destructive-text;

$backdrop-color: rgba($bg, 0.2);
$border-color: $color-300;
