[data-theme="light"] {
    --bg: 240, 0%, 100%;
    --fg: 0, 0%, 0%;

    --card: 240, 0%, 95%;
    --card-fg: 0, 0%, 0%;

    --primary: 240, 0%, 3.9%;
    --primary-fg: 0, 0%, 98%;

    --secondary: 240, 0%, 75%;
    --secondary-fg: 0, 0%, 0%;

    --muted: 240, 0%, 92%;
    --muted-fg: 0, 0%, 35%;

    --destructive: 0, 72%, 50%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 0%, 82%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}

[data-theme="dark"] {
    --bg: 240, 0%, 0%;
    --fg: 0, 0%, 100%;

    --card: 240, 0%, 5%;
    --card-fg: 0, 0%, 100%;

    --primary: 240, 0%, 98%;
    --primary-fg: 0, 0%, 10%;

    --secondary: 240, 0%, 25%;
    --secondary-fg: 0, 0%, 100%;

    --muted: 240, 0%, 15%;
    --muted-fg: 0, 0%, 75%;

    --destructive: 0, 63%, 31%;
    --destructive-fg: 0, 0%, 100%;

    --border: 240, 0%, 18%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}
