[data-theme="light"] {
    --bg: 240, 0%, 96%;
    --fg: 0, 0%, 10%;

    --card: 240, 10%, 92%;
    --card-fg: 0, 0%, 4%;

    --primary: 240, 6%, 4%;
    --primary-fg: 0, 0%, 98%;

    --secondary: 240, 6%, 75%;
    --secondary-fg: 0, 0%, 10%;

    --muted: 240, 4%, 96%;
    --muted-fg: 0, 0%, 46.1%;

    --destructive: 0, 72%, 51%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 0%, 82%;
    --border-width: 0.5px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}

[data-theme="dark"] {
    --bg: 240, 0%, 0%;
    --fg: 0, 0%, 90%;

    --card: 240, 10%, 8%;
    --card-fg: 0, 0%, 98%;

    --primary: 240, 6%, 98%;
    --primary-fg: 0, 0%, 10%;

    --secondary: 240, 6%, 25%;
    --secondary-fg: 0, 0%, 98%;

    --muted: 240, 4%, 16%;
    --muted-fg: 0, 0%, 65%;

    --destructive: 0, 63%, 31%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 0%, 18%;
    --border-width: 2.5px;
    --border-style: outset;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}
