[data-theme="light"] {
    --bg: 240, 4%, 95%;
    --fg: 0, 0%, 10%;

    --card: 240, 6%, 91%;
    --card-fg: 0, 0%, 4%;

    --primary: 240, 8%, 5%;
    --primary-fg: 0, 0%, 98%;

    --secondary: 240, 6%, 75%;
    --secondary-fg: 0, 0%, 10%;

    --muted: 240, 4%, 96%;
    --muted-fg: 0, 0%, 46.1%;

    --destructive: 0, 72%, 51%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 0%, 82%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}

[data-theme="dark"] {
    --bg: 240, 4%, 5%;
    --fg: 0, 0%, 90%;

    --card: 240, 6%, 9%;
    --card-fg: 0, 0%, 98%;

    --primary: 240, 8%, 95%;
    --primary-fg: 0, 0%, 10%;

    --secondary: 240, 6%, 25%;
    --secondary-fg: 0, 0%, 98%;

    --muted: 240, 4%, 16%;
    --muted-fg: 0, 0%, 65%;

    --destructive: 0, 63%, 31%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 0%, 18%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: calc(15px + 0.390625vw);

    --font-family: "Times New Roman", serif;
    --font-family-sans: "Georgia", sans-serif;
    --font-family-mono: "Courier New", monospace;

    --line-height: 1.15;

    --radius: 0.25rem;
    --spacing: 0.5em;

    --app-bar-height: 3rem;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
}

.ui-card {
    border: none;
}

ui-button:not([variant="ghost"]),
ui-icon-button:not([ghost]),
.ui-card {
    box-shadow: inset 0 0 .1rem currentColor;
}
