@import "./root.css";

[data-theme="light"] {
    /*
     * Basics
     */

    /* Medium Background */
    --ui-bg-h: 48;
    --ui-bg-s: 87%;
    --ui-bg-l: 88%;
    --ui-bg: hsla(var(--ui-bg-h), var(--ui-bg-s), var(--ui-bg-l), 1);

    /* Foreground */
    --ui-fg-h: 0;
    --ui-fg-s: 0%;
    --ui-fg-l: 16%;
    --ui-fg: hsla(var(--ui-fg-h), var(--ui-fg-s), var(--ui-fg-l), 1);

    /* Green */
    --ui-primary-h: 57;
    --ui-primary-s: 79%;
    --ui-primary-l: 26%;
    --ui-primary: hsla(
        var(--ui-primary-h),
        var(--ui-primary-s),
        var(--ui-primary-l),
        1
    );

    /* Hard Background */
    --ui-primary-fg-h: var(--ui-bg-h);
    --ui-primary-fg-s: var(--ui-bg-s);
    --ui-primary-fg-l: var(--ui-bg-l);
    --ui-primary-fg: hsla(
        var(--ui-primary-fg-h),
        var(--ui-primary-fg-s),
        var(--ui-primary-fg-l),
        1
    );

    /* Gray */
    --ui-secondary-h: 30;
    --ui-secondary-s: 12%;
    --ui-secondary-l: 51%;
    --ui-secondary: hsla(
        var(--ui-secondary-h),
        var(--ui-secondary-s),
        var(--ui-secondary-l),
        1
    );

    /* Hard Background */
    --ui-secondary-fg-h: var(--ui-bg-h);
    --ui-secondary-fg-s: var(--ui-bg-s);
    --ui-secondary-fg-l: var(--ui-bg-l);
    --ui-secondary-fg: hsla(
        var(--ui-secondary-fg-h),
        var(--ui-secondary-fg-s),
        var(--ui-secondary-fg-l),
        1
    );

    /* Red */
    --ui-destructive-h: 358;
    --ui-destructive-s: 100%;
    --ui-destructive-l: 31%;
    --ui-destructive: hsla(
        var(--ui-destructive-h),
        var(--ui-destructive-s),
        var(--ui-destructive-l),
        1
    );

    /* Hard Background */
    --ui-destructive-fg-h: var(--ui-bg-h);
    --ui-destructive-fg-s: var(--ui-bg-s);
    --ui-destructive-fg-l: var(--ui-bg-l);
    --ui-destructive-fg: hsla(
        var(--ui-destructive-fg-h),
        var(--ui-destructive-fg-s),
        var(--ui-destructive-fg-l),
        1
    );

    --ui-borderColor: hsla(30, 12%, 51%, 1); /* Gray */
    --ui-borderColor: hsla(35, 17%, 59%, 1); /* Background 4 */

    --ui-backdrop: hsla(var(--ui-bg-h), var(--ui-bg-s), var(--ui-bg-l), 0.2);
    --ui-backdropFilter: blur(5px);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsla(35, 17%, 59%, 1); /* Background 4 */
    --ui-muted-fg: hsla(20, 5%, 22%, 1); /* Foreground 1 */
    --ui-muted-borderColor: var(--ui-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);
    --ui-muted-fontVariation: "CASL" 0, "MONO" 1, "slnt" 0;

    /*
     * ui-card
     */

    --ui-card: hsla(43, 59%, 81%, 1); /* Background 1 */
    --ui-card-fg: var(--ui-fg); /* Foreground */
    --ui-card-borderColor: var(--ui-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: var(--ui-bg);
    color: var(--ui-fg);
    color-scheme: light;
}

[data-theme="dark"] {
    /*
     * Basics
     */

    /* Medium Background */
    --ui-bg-h: 0;
    --ui-bg-s: 0%;
    --ui-bg-l: 16%;
    --ui-bg: hsla(var(--ui-bg-h), var(--ui-bg-s), var(--ui-bg-l), 1);

    /* Foreground */
    --ui-fg-h: 48;
    --ui-fg-s: 87%;
    --ui-fg-l: 88%;
    --ui-fg: hsla(var(--ui-fg-h), var(--ui-fg-s), var(--ui-fg-l), 1);

    /* Green */
    --ui-primary-h: 61;
    --ui-primary-s: 66%;
    --ui-primary-l: 44%;
    --ui-primary: hsla(
        var(--ui-primary-h),
        var(--ui-primary-s),
        var(--ui-primary-l),
        1
    );

    /* Hard Background */
    --ui-primary-fg-h: var(--ui-bg-h);
    --ui-primary-fg-s: var(--ui-bg-s);
    --ui-primary-fg-l: var(--ui-bg-l);
    --ui-primary-fg: hsla(
        var(--ui-primary-fg-h),
        var(--ui-primary-fg-s),
        var(--ui-primary-fg-l),
        1
    );

    /** Gray */
    --ui-secondary-h: 30;
    --ui-secondary-s: 12%;
    --ui-secondary-l: 51%;
    --ui-secondary: hsla(
        var(--ui-secondary-h),
        var(--ui-secondary-s),
        var(--ui-secondary-l),
        1
    );

    /* Hard Background */
    --ui-secondary-fg-h: var(--ui-bg-h);
    --ui-secondary-fg-s: var(--ui-bg-s);
    --ui-secondary-fg-l: var(--ui-bg-l);
    --ui-secondary-fg: hsla(
        var(--ui-secondary-fg-h),
        var(--ui-secondary-fg-s),
        var(--ui-secondary-fg-l),
        1
    );

    /* Red */
    --ui-destructive-h: 6;
    --ui-destructive-s: 96%;
    --ui-destructive-l: 59%;
    --ui-destructive: hsla(
        var(--ui-destructive-h),
        var(--ui-destructive-s),
        var(--ui-destructive-l),
        1
    );

    /* Hard Background */
    --ui-destructive-fg-h: var(--ui-bg-h);
    --ui-destructive-fg-s: var(--ui-bg-s);
    --ui-destructive-fg-l: var(--ui-bg-l);
    --ui-destructive-fg: hsla(
        var(--ui-destructive-fg-h),
        var(--ui-destructive-fg-s),
        var(--ui-destructive-fg-l),
        1
    );

    --ui-borderColor: hsla(30, 12%, 51%, 1); /* Gray */
    --ui-borderColor: hsla(8, 11%, 44%, 1); /* Background 4 */

    --ui-backdrop: hsla(var(--ui-bg-h), var(--ui-bg-s), var(--ui-bg-l), 0.2);
    --ui-backdropFilter: blur(5px);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsla(8, 11%, 44%, 1); /* Background 4 */
    --ui-muted-fg: hsla(43, 59%, 81%, 1); /* Foreground 1 */
    --ui-muted-borderColor: var(--ui-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);
    --ui-muted-fontVariation: "CASL" 0, "MONO" 1, "slnt" 0;

    /*
     * ui-card
     */

    --ui-card: hsla(20, 5%, 22%, 1); /* Background 1 */
    --ui-card-fg: var(--ui-fg); /* Foreground */
    --ui-card-borderColor: var(--ui-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: var(--ui-bg);
    color: var(--ui-fg);
    color-scheme: dark;
}
