[data-theme="light"] {
    /*
     * Basics
     */

    --ui-bg--hsl: 240, 10%, 96%;
    --ui-bg: hsla(var(--ui-bg--hsl), 1);

    --ui-fg--hsl: 240, 10%, 10%;
    --ui-fg: hsla(var(--ui-fg--hsl), 1);

    --ui-primary: hsla(240, 10%, 25%, 1);
    --ui-primary-fg: hsla(240, 10%, 98%, 1);

    --ui-secondary: hsla(240, 15%, 75%, 1);
    --ui-secondary-fg: hsla(240, 10%, 10%, 1);

    --ui-destructive: hsla(0, 72%, 51%, 1);
    --ui-destructive-fg: hsla(0, 0%, 98%, 1);

    --ui-borderColor: hsla(240, 10%, 82%, 1);

    --ui-backdrop: hsla(var(--ui-bg--hsl), 0.2);
    --ui-backdropFilter: blur(5px);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsla(240, 10%, 84%, 1);
    --ui-muted-fg: hsla(240, 10%, 36%, 1);
    --ui-muted-borderColor: var(--ui-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);
    --ui-muted-fontVariation: "CASL" 0, "MONO" 1, "slnt" 0;

    /*
     * ui-card
     */

    --ui-card: hsla(240, 10%, 92%, 1);
    --ui-card-fg: hsla(240, 10%, 4%, 1);
    --ui-card-borderColor: var(--ui-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: var(--ui-bg);
    color: var(--ui-fg);
    color-scheme: light;
}

[data-theme="dark"] {
    /*
     * Basics
     */

    --ui-bg--hsl: 240, 10%, 4%;
    --ui-bg: hsla(var(--ui-bg--hsl), 1);

    --ui-fg--hsl: 240, 10%, 90%;
    --ui-fg: hsla(var(--ui-fg--hsl), 1);

    --ui-primary: hsla(240, 10%, 75%, 1);
    --ui-primary-fg: hsla(240, 10%, 10%, 1);

    --ui-secondary: hsla(240, 15%, 25%, 1);
    --ui-secondary-fg: hsla(240, 10%, 98%, 1);

    --ui-destructive: hsla(0, 63%, 31%, 1);
    --ui-destructive-fg: hsla(0, 0%, 98%, 1);

    --ui-borderColor: hsla(240, 10%, 18%, 1);

    --ui-backdrop: hsla(var(--ui-bg--hsl), 0.2);
    --ui-backdropFilter: blur(5px);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsla(240, 10%, 16%, 1);
    --ui-muted-fg: hsla(240, 10%, 65%, 1);
    --ui-muted-borderColor: var(--ui-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);
    --ui-muted-fontVariation: "CASL" 0, "MONO" 1, "slnt" 0;

    /*
     * ui-card
     */

    --ui-card: hsla(240, 10%, 8%, 1);
    --ui-card-fg: hsla(240, 10%, 98%, 1);
    --ui-card-borderColor: var(--ui-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: var(--ui-bg);
    color: var(--ui-fg);
    color-scheme: dark;
}
