:root {
    --ui-lineHeight: 1.5;

    --ui-radius: 0.25rem;
    --ui-spacing: 0.5rem;

    --ui-fontFamily: "RecVar";
    --ui-fontSize: 1rem;

    --ui-fontVariation: "CASL" 1, "MONO" 0, "slnt" 0;
    --ui-heading-fontVariation: "CASL" 1, "MONO" 0, "slnt" -9;
    --ui-button-fontVariation: "CASL" 1, "MONO" 0, "slnt" -6;
    --ui-input-fontVariation: "CASL" 1, "MONO" 1, "slnt" 0;
    --ui-text-primary-fontVariation: "CASL" 1, "MONO" 0, "slnt" 0;
    --ui-text-secondary-fontVariation: "CASL" 1, "MONO" 0, "slnt" -15;
    --ui-select-fontVariation: "CASL" 1, "MONO" 1, "slnt" 0;
    --ui-thead-fontVariation: "CASL" 1, "MONO" 0, "slnt" 0;
    --ui-tbody-fontVariation: "CASL" 1, "MONO" 0, "slnt" -3;

    --ui-app-bar-height: 3rem;
    --ui-dialog-header-height: 2.5rem;
    --ui-dialog-footer-height: 3rem;
    --ui-drawer-width: 20rem;

    --ui-ripple-fg: currentColor;
    --ui-ripple-opacity: 0.2;
}
