/*
:root {
    --hue: 270;
}

[data-theme="light"] {
    --bg: var(--hue), 50%, 96%;
    --fg: var(--hue), 50%, 15%;

    --card: var(--hue), 50%, 92%;
    --card-fg: var(--hue--hue--hue--hue--hue--hue--hue--hue--hue), 50%, 8%;

    --primary: var(--hue), 50%, 10%;
    --primary-fg: var(--hue), 50%, 90%;

    --secondary: var(--hue), 50%, 75%;
    --secondary-fg: var(--hue), 50%, 15%;

    --muted: var(--hue), 50%, 95.9%;
    --muted-fg: var(--hue), 50%, 46.1%;

    --destructive: 0, 72.22%, 50.59%;
    --destructive-fg: 0, 0%, 98%;

    --border: var(--hue), 50%, 82%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: 16px;

    --radius: 0.25rem;
    --spacing: 5px;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
    color-scheme: light;
}

[data-theme="dark"] {
    --bg: var(--hue), 50%, 4%;
    --fg: var(--hue), 50%, 90%;

    --card: var(--hue), 50%, 8%;
    --card-fg: var(--hue), 50%, 98%;

    --primary: var(--hue), 50%, 90%;
    --primary-fg: var(--hue), 50%, 4%;

    --secondary: var(--hue), 50%, 25%;
    --secondary-fg: var(--hue), 50%, 98%;

    --muted: var(--hue), 50%, 15.9%;
    --muted-fg: var(hue), 50%, 64.9%;

    --destructive: 0, 62.8%, 30.6%;
    --destructive-fg: 0, 0%, 98%;

    --border: var(--hue), 50%, 18%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: 16px;

    --radius: 0.25rem;
    --spacing: 5px;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
    color-scheme: dark;
}
*/
