/*
[data-theme="light"] {
    --bg: 240, 10%, 96.1%;
    --fg: 240, 10%, 10%;

    --card: 240, 10%, 92.1%;
    --card-fg: 240, 10%, 3.9%;

    --primary: 240, 5.9%, 3.9%;
    --primary-fg: 240, 0%, 98%;

    --secondary: 240, 5.9%, 75%;
    --secondary-fg: 240, 5.9%, 10%;

    --muted: 240, 4.8%, 95.9%;
    --muted-fg: 240, 3.8%, 46.1%;

    --destructive: 0, 72.22%, 50.59%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 5.9%, 82%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: 16px;

    --radius: 0.25rem;
    --spacing: 5px;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
    color-scheme: light;
}

[data-theme="dark"] {
    --bg: 240, 10%, 3.9%;
    --fg: 240, 10%, 90%;

    --card: 240, 10%, 7.9%;
    --card-fg: 240, 0%, 98%;

    --primary: 240, 5.9%, 98%;
    --primary-fg: 240, 0%, 10%;

    --secondary: 240, 5.9%, 25%;
    --secondary-fg: 240, 5.9%, 98%;

    --muted: 240, 3.7%, 15.9%;
    --muted-fg: 240, 5%, 64.9%;

    --destructive: 0, 62.8%, 30.6%;
    --destructive-fg: 0, 0%, 98%;

    --border: 240, 5.9%, 18%;
    --border-width: 1px;
    --border-style: solid;

    --font-size: 16px;

    --radius: 0.25rem;
    --spacing: 5px;

    background: hsl(var(--bg));
    color: hsl(var(--fg));
    color-scheme: dark;
}
*/
