[data-theme="light"] {
    --ui-bgColor-hsl: 240, 10%, 96.1%;
    --ui-color-hsl: 240, 10%, 10%;

    --ui-primary-bgColor: hsla(240, 10%, 3.9%, 1);
    --ui-primary-color: hsla(240, 10%, 98%, 1);

    --ui-secondary-bgColor: hsla(240, 10%, 75%, 1);
    --ui-secondary-color: hsla(240, 10%, 10%, 1);

    --ui-destructive-bgColor: hsla(0, 72.22%, 50.59%, 1);
    --ui-destructive-color: hsla(0, 0%, 98%, 1);

    --ui-borderColor: hsla(240, 10%, 82%, 1);

    --ui-muted-bgColor: hsla(240, 10%, 95.9%, 1);
    --ui-muted-color: hsla(240, 10%, 46.1%, 1);

    --ui-card-bgColor: hsla(240, 10%, 92.1%, 1);
    --ui-card-color: hsla(240, 10%, 3.9%, 1);

    color-scheme: light;
}

[data-theme="dark"] {
    --ui-bgColor-hsl: 240, 10%, 3.9%;
    --ui-color-hsl: 240, 10%, 90%;

    --ui-primary-bgColor: hsla(240, 10%, 98%, 1);
    --ui-primary-color: hsla(240, 10%, 10%, 1);

    --ui-secondary-bgColor: hsla(240, 10%, 25%, 1);
    --ui-secondary-color: hsla(240, 10%, 98%, 1);

    --ui-destructive-bgColor: hsla(0, 62.8%, 30.6%, 1);
    --ui-destructive-color: hsla(0, 0%, 98%, 1);

    --ui-borderColor: hsla(240, 10%, 18%, 1);

    --ui-muted-bgColor: hsla(240, 10%, 15.9%, 1);
    --ui-muted-color: hsla(240, 10%, 64.9%, 1);

    --ui-card-bgColor: hsla(240, 10%, 7.9%, 1);
    --ui-card-color: hsla(240, 10%, 98%, 1);

    color-scheme: dark;
}
