.ui-grid {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
}

.ui-grid > * {
    margin: var(--gap, 0) 0;
}

.ui-grid > *:first-child {
    margin-top: 0;
}

.ui-grid > *:last-child {
    margin-bottom: 0;
}

.ui-grid-row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row nowrap;
}

.ui-grid-row > * {
    margin: 0 var(--gap, 0);
}

.ui-grid-row > *:first-child {
    margin-left: 0;
}

.ui-grid-row > *:last-child {
    margin-right: 0;
}

.ui-grid-col {
    padding: 0;
    flex: 1;
}
