<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />

        <!--link rel="stylesheet" href="/ui-v4.1.0.css" /-->
        <link rel="stylesheet" href="/ui-v4.2.0-dev.css" />
        <link rel="stylesheet" href="/style.css" />

        <title>Color Picker</title>
    </head>

    <body class="ui-container ui-flex column justify-center align-center">
        <span class="range-slider" style="width: 100%; height: fit-content">
            <span
                class="title"
                style="--slnt: -10; width: 100%; font-size: 0.9rem"
            >
                Range Slider Title
            </span>

            <div
                style="width: 100%"
                class="container ui-flex row gap nowrap align-center"
            >
                <input
                    style="width: 100%; background-color: transparent"
                    type="range"
                    min="0"
                    max="255"
                    step="1"
                    value="50"
                />

                <input
                    style="height: 100%; width: 6ch; text-align: center"
                    type="number"
                    min="0"
                    max="255"
                    step="1"
                    value="50"
                />
            </div>
        </span>
    </body>
</html>
