.ui-card {
    background-color: hsl(var(--card));
    color: hsl(var(--card-fg));

    /*border: var(--border-width) var(--border-style) hsl(var(--border));*/
    border-radius: var(--radius);

    padding: var(--spacing);
    overflow: hidden;

    box-shadow: inset 0 0 .1rem .1rem hsla(var(--border), .35);
}
