.ui-card {
    background-color: hsl(var(--card));
    color: hsl(var(--card-fg));

    /*border: var(--border-width) var(--border-style) hsl(var(--border));*/
    border-radius: var(--radius);

    padding: var(--spacing);
    overflow: hidden;

    box-shadow: var(--box-shadow);
}
