.ui-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ui-group.column {
    flex-direction: column;
}

.ui-group > * {
    margin: 0 !important;
}

.ui-group:not(.column) > *:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ui-group.column > *:first-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ui-group:not(.column) > *:last-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.ui-group.column > *:last-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.ui-group > *:not(:first-child,:last-child) {
    border-radius: 0 !important;
}
