<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
        />

        <link rel="stylesheet" href="/ui-v4.1.0.css" />
        <link rel="stylesheet" href="/style.css" />

        <title>Color Picker</title>
    </head>

    <body
        class="ui-container ui-flex column justify-center align-center"
        style="display: flex"
    >
        <!-- NOTE: ".ui-container" will override the ui-flex display value in v4.1.0 -->

        <div
            class="color-picker ui-flex column gap nowrap"
            style="width: 100%; touch-action: none"
        >
            <!-- NOTE: Default White -->

            <span class="red ui-flex column justify-start">
                <span class="title">RED</span>

                <span class="container ui-flex row gap nowrap">
                    <div class="range">
                        <div class="circle"></div>
                    </div>
                    <input
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        value="255"
                    />
                </span>
            </span>

            <span class="green ui-flex column justify-start">
                <span class="title">GREEN</span>

                <span class="container ui-flex row gap nowrap">
                    <div class="range">
                        <div class="circle"></div>
                    </div>
                    <input
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        value="255"
                    />
                </span>
            </span>

            <span class="blue ui-flex column justify-start">
                <span class="title">BLUE</span>

                <span class="container ui-flex row gap nowrap">
                    <div class="range">
                        <div class="circle"></div>
                    </div>
                    <input
                        type="number"
                        min="0"
                        max="255"
                        step="1"
                        value="255"
                    />
                </span>
            </span>
        </div>

        <script src="/script.js"></script>
    </body>
</html>
