html,
body {
    width: 100%;
    height: 100%;
}

.color-picker .title {
    width: fit-content;
}

.color-picker .container,
.color-picker .range,
.color-picker input {
    height: 2.5rem;
}

.color-picker .container {
    width: 100%;
}

.color-picker .range,
.color-picker .circle {
    border: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color)
}

.color-picker .range {
    box-sizing: content-box;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 2.5rem;
}

.color-picker .circle {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 0.05rem;
    right: 0.05rem;
    width: 2rem;
    height: calc(100% - 0.6rem);
    /*border-color: black;*/
    border-width: 0.25rem;
}

.color-picker input {
    width: 6ch;
    text-align: center;
}
