package css

templ StylesComponents() {
	@StylesComponentAppBar()
	@StylesComponentBadge()
	@StylesComponentCard()
	@StylesComponentContainer()
	@StylesComponentDialog()
	@StylesComponentDrawer()
	@StylesComponentSpinner()
	@StylesComponentSwitch()
	@StylesComponentTabs()
	@StylesComponentToast()
}
