package css

templ StylesUtils() {
	@StylesUtilBorder()
	@StylesUtilColor()
	@StylesUtilDebug()
	@StylesUtilFlex()
	@StylesUtilInteraction()
	@StylesUtilShadow()
	@StylesUtilSpacing()
	@StylesUtilText()
	@StylesUtilTransform()
}
