@use "../settings" as *;
@use "../theme-variables" as *;
@use "../utils";

.#{$css-selector-prefix}app-bar {
    display: flex;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: calc($spacing / 2);
    overflow: hidden;

    width: 100%;
    gap: var(--gap, 0.25rem);

    &[position="top"],
    &[position="bottom"] {
        position: absolute;
        left: 0;
        right: 0;

        height: $app-bar-height;
    }

    &[fixed] {
        position: fixed;
    }

    &[position="top"] {
        top: 0;

        border-bottom: 1px solid $border-color;
    }

    &[position="bottom"] {
        bottom: 0;

        border-top: 1px solid $border-color;
    }

    & > .left,
    & > .center,
    & > .right {
        display: flex;

        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
    }

    & > .left,
    & > .right {
        width: fit-content;
    }

    & > .left {
        justify-content: flex-start;
    }

    & > .left {
        justify-content: flex-end;
    }
}
