@use "../theme-variables" as *;
@use "../utils";

.ui-drawer {
    @include utils.hide-scrollbar();
    @include utils.backdrop();

    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: -100vw;

    overflow: auto;
    transition:
        left $transition,
        width $transition;

    width: var(--width, fit-content);
    max-width: calc(100vw - 2.5rem);
    height: 100vh;
    border-right: $border-width $border-style $border-color;

    &::before {
        /* This is the outside container */
        @include utils.backdrop();

        position: fixed;
        top: 0;
        left: -100vw;

        content: "";
        width: 100vw;
        height: 100vh;
    }

    &[open] {
        left: 0;

        &::before {
            left: 0;
        }
    }
}
