package app

import "github.com/knackwurstking/ui/pkg/css"

templ SectionTitle() {
	<h2 class={ css.Underline, css.TextCenter }>
		{ children... }
	</h2>
}

templ SectionContent() {
	<div class={ css.PLg, css.Flex, css.FlexCol, css.Gap }>
		{ children... }
	</div>
}
