.ui-flex {
    display: flex;
    flex-flow: row nowrap;
}

.ui-flex.inline {
    display: inline-flex;
}

.ui-flex.row {
    flex-flow: row nowrap;
}

.ui-flex.column {
    flex-flow: column var(--wrap, nowrap);
}

.ui-flex.wrap {
    flex-wrap: wrap;
}

.ui-flex.nowrap {
    flex-wrap: nowrap;
}

.ui-flex.row.reverse {
    flex-flow: row-reverse nowrap;
}

.ui-flex.column.reverse {
    flex-flow: column-reverse nowrap;
}

.ui-flex.gap {
    gap: var(--ui-spacing);
}

.ui-flex.align-center {
    align-items: center;
}

.ui-flex.align-start {
    align-items: flex-start;
}

.ui-flex.align-end {
    align-items: flex-end;
}

.ui-flex.justify-center {
    justify-content: center;
}

.ui-flex.justify-start {
    justify-content: flex-start;
}

.ui-flex.justify-end {
    justify-content: flex-end;
}

.ui-flex.justify-evenly {
    justify-content: space-evenly;
}

.ui-flex.justify-around {
    justify-content: space-around;
}

.ui-flex.justify-between {
    justify-content: space-between;
}

.ui-flex-item {
    flex: 1;
}

.ui-flex-item > * {
    flex-grow: 1;
}
