.is-debug {
    border: 1px solid red;
}

.is-debug * {
    border: 1px solid red;
}

.is-card {
    background-color: var(--ui-card-bgColor);
    color: var(--ui-card-color);
    border: 1px solid var(--ui-card-borderColor);
    border-radius: var(--ui-card-radius);
    padding: var(--ui-spacing);
}

.is-outline-text {
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: var(--ui-color);
    color: transparent;
}
