.is-debug {
    border: var(--border-width) var(--border-style) red;
}

.is-debug * {
    border: var(--border-width) var(--border-style) red;
}

.is-primary {
    color: hsl(var(--primary-fg));
    background-color: hsl(var(--primary));
}

.is-primary-color {
    color: hsl(var(--primary));
}

.is-secondary {
    color: hsl(var(--secondary-fg));
    background-color: hsl(var(--secondary));
}

.is-secondary-color {
    color: hsl(var(--secondary));
}

.is-destructive {
    color: hsl(var(--destructive-fg));
    background-color: hsl(var(--destructive));
}

.is-destructive-color {
    color: hsl(var(--destructive));
}

.is-outline-text {
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: hsl(var(--fg));
    color: transparent;
}
