@use "../theme-variables" as *;
@use "../utils";

*::selection {
    background-color: $primary;
    color: $primary-text;
}

*:focus {
    outline-offset: $border-width;
    outline: $border-width $border-style $border-color;
}

[disabled] {
    pointer-events: none;
    touch-action: none;

    opacity: 0.65;
    cursor: default;

    @include utils.none-select;
}

html {
    font-size: $font-size;
    background-color: $bg;
    color: $text;
}

body {
    font-size: 100%;
    line-height: $line-height;
}
