@use "../settings" as *;
@use "../theme-variables" as *;

.#{$css-selector-prefix}border {
  border: $border-width $border-style $border-color;
  border-radius: $radius;
}

.#{$css-selector-prefix}border-top {
  border-top: $border-width $border-style $border-color;
  border-radius: $radius;
}

.#{$css-selector-prefix}border-right {
  border-right: $border-width $border-style $border-color;
  border-radius: $radius;
}

.#{$css-selector-prefix}border-bottom {
  border-bottom: $border-width $border-style $border-color;
  border-radius: $radius;
}

.#{$css-selector-prefix}border-left {
  border-left: $border-width $border-style $border-color;
  border-radius: $radius;
}
