package components

import "github.com/knackwurstking/ui/pkg/css"

type ContainerProps struct {
	*Props

	Fluid bool
}

templ Container(props *ContainerProps) {
	{{
		if props == nil {
			props = &ContainerProps{
				Props: NewProps(),
			}
		}
		props.SetClass(css.Container)

		if props.Fluid {
			props.SetClass(css.ContainerFluid)
		}
	}}
	<span { props.Attributes()... }>
		{ children... }
	</span>
}
