package components

import "github.com/knackwurstking/ui/pkg/css"

type DrawerProps struct {
	ID         string
	Class      templ.CSSClasses
	Attributes templ.Attributes

	Open bool
}

// TODO: Add drawer close button
templ Drawer(props DrawerProps) {
	<span class={ css.DrawerBackdrop }></span>
	<span
		id={ props.ID }
		class={
			css.Drawer,
			props.Class,
			templ.KV(css.DrawerOpen, props.Open),
		}
		{ props.Attributes... }
	>
		{ children... }
	</span>
}
