package components

type LabelProps struct {
	BaseProps

	For string
}

templ Label(props *LabelProps) {
	{{
		if props == nil {
			props = &LabelProps{}
		}
	}}
	<label 
		if props.For != "" { for={ props.For } }
		{ props.GetAttributes()... }
	>
		{ children... }
	</label>
}
