package components

import "github.com/knackwurstking/ui/pkg/css"

templ Spinner(props *Props) {
	{{
		if props == nil {
			props = NewProps()
		}
		props.SetClass(css.Spinner)
	}}
	<span { props.Attributes()... }></span>
}
