package components

import "github.com/knackwurstking/ui/pkg/css"

templ Spinner(props *BaseProps) {
	{{
		if props == nil {
			props = &BaseProps{}
		}
		props.Class = append(props.Class, css.Spinner)
	}}
	<span { props.GetAttributes()... }></span>
}
