::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-fg));
}

body {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
}

hr {
    background-color: hsl(var(--border));
}

code,
pre {
    background-color: hsl(var(--muted));
    color: hsl(var(--muted-fg));
}

select,
input,
textarea {
    background-color: transparent;
    color: hsl(var(--fg));
    box-shadow: none;
    outline: none !important;
}

input[type="checkbox"] {
    accent-color: hsl(var(--primary));
}

thead th {
    background-color: hsl(var(--border));
}
