::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-fg));
}

body {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: var(--text-shadow);
}

hr {
    background-color: hsl(var(--border));
}

code,
pre {
    background-color: hsl(var(--muted));
    color: hsl(var(--muted-fg));
}

select,
input,
textarea {
    background-color: transparent;
    color: hsl(var(--fg));
    box-shadow: none;
    outline: none !important;
}

input[type="checkbox"] {
    accent-color: hsl(var(--secondary));
}

thead th {
    background-color: hsl(var(--border));
}
