html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
    font-weight: bolder;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 750%;
}

pre,
code,
kbd,
samp {
    font-family: var(--font-family-mono);
}

input,
textarea {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-family: var(--font-family-mono);
    font-size: 95%;
}

table thead {
    font-family: var(--font-family-heading);
    font-style: italic;
    font-weight: bold;
}

table tbody {
    font-family: var(--font-family-mono);
    font-size: 95%;
}
