/* {{{ Global */

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--ui-primary-bgColor);
    color: var(--ui-primary-color);
}

html {
    font-size: var(--ui-font-size);
    background-color: var(--ui-bgColor);
    color: var(--ui-color);
}

body {
    font-family: var(--ui-font-family);
    font-variation-settings:
        "CASL" 1,
        "MONO" 0,
        "slnt" 0;
    font-size: 100%;
}

/* }}} */

/* {{{  Article, Section */

article {
    padding: var(--ui-spacing);
}

section {
    padding: var(--ui-spacing) 0;
}

/* }}} */

/* {{{ Hr */

hr {
    border: none;
    height: 1px;
    margin: var(--ui-spacing) 0;
    background-color: var(--ui-border-color);
}

/* }}} */

/*  {{{ H1-6 */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "RecVar";
    font-weight: 600;
    font-variation-settings:
        "CASL" 1,
        "MONO" 0,
        "slnt" -9;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.50rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.00rem;
}

h6 {
    font-size: 7.50rem;
}

/* }}} */

/* {{{ Code, Pre */

code,
pre {
    background-color: var(--ui-muted-bgColor);
    color: var(--ui-muted-color);
    border: 1px solid var(--ui-border-color);
    border-radius: var(--ui-radius);
    padding: var(--ui-spacing);
    font-variation-settings:
        "CASL" 0,
        "MONO" 1,
        "slnt" 0;
}

code {
    display: inline-block;
}

pre {
    display: block;
}

/* }}} */

/* {{{ (UI-)Button */

button,
ui-icon-button,
ui-button {
    font-size: 1.1rem;
    font-weight: 450;
    font-family: var(--ui-font-family);
    font-variation-settings:
        "CASL" 1,
        "MONO" 0,
        "slnt" -6;
}

/* }}} */

/* {{{ (UI-)Select, Input, Textarea */

input,
textarea {
    display: block;

    border: 1px solid var(--ui-input-borderColor);
    border-radius: var(--ui-input-radius);
    transition: border-color 0.25s linear;

    background-color: var(--ui-input-bgColor);
    color: var(--ui-input-color);

    box-shadow: none;
    outline: none;

    font-size: 0.9rem;
    font-family: var(--ui-input-fontFamily);
    font-variation-settings: var(--ui-input-fontVariation);

    padding: var(--ui-spacing) calc(var(--ui-spacing) * 2);

    accent-color: var(--ui-input-accentColor);
}

select {
    display: block;

    border: 1px solid var(--ui-select-borderColor);
    border-radius: var(--ui-select-radius);
    transition: border-color 0.25s linear;

    background-color: var(--ui-select-bgColor);
    color: var(--ui-select-color);

    padding: var(--ui-spacing) calc(var(--ui-spacing) * 2);

    box-shadow: none;
    outline: none;

    font-size: 0.9rem;
    font-family: var(--ui-select-fontFamily);
    font-variation-settings: var(--ui-select-fontVariation);
}

input {
    border: none;
    border-bottom: 1px solid var(--ui-input-borderColor);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="color"] {
    height: calc(var(--ui-spacing) * 2 + 2rem);
    padding: var(--ui-spacing);
    cursor: pointer;
}

input[aria-invalid="true"] {
    border-color: var(--ui-input-borderColor--invalid);
}

input:focus:not([type=checkbox]),
textarea:focus {
    border-color: var(--ui-input-borderColor--focus);
}

input:disabled {
    opacity: 0.25;
}

/* }}} */

/* {{{ UL */

ul {
    list-style: none;
    padding: var(--ui-spacing);
    overflow: hidden;
}

ul > * {
    padding: var(--ui-spacing);
}

/* }}} */

/* {{{ Table, Th, Td */

table {
    width: 100%;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-collapse: collapse;
    border: 1px solid var(--ui-border-color);
}

thead {
    font-weight: 450;
    font-variation-settings:
        "CASL" 1,
        "MONO" 0,
        "slnt" 0;
}

tbody {
    font-weight: 350;
    font-variation-settings:
        "CASL" 1,
        "MONO" 0,
        "slnt" -3;
}

th {
    background-color: var(--ui-border-color);
}

th,
td {
    padding: var(--ui-spacing);
    border: 1px solid var(--ui-border-color);
}

td {
    word-break: break-all;
    font-size: 0.9rem;
}

/* }}} */

/* {{{ Blockquote */


/*
blockquote{
    border-left: 1px black solid;
    margin: 0;
    padding-left: 1rem;
}
*/

/* }}} */
