/* {{{ Global
*/

:root {
    --app-bar-height: 3rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-fg));
}

html {
    font-size: var(--font-size);
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
}

body {
    font-family: var(--font-family);
    font-variation-settings: var(--font-variation-normal);
    font-size: 100%;
}

/* }}} */

/* {{{  Article, Section
*/

article {
    padding: var(--spacing);
}

section {
    padding: var(--spacing) 0;
}

/* }}} */

/* {{{ Hr
*/

hr {
    border: none;
    height: var(--border-width);
    margin: var(--spacing) 0;
    background-color: hsl(var(--border));
}

/* }}} */

/*  {{{ H1-6
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-style: italic;
    font-weight: bolder;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 175%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 750%;
}

/* }}} */

/* {{{ Code, Pre
*/

code,
pre {
    padding: calc(var(--spacing) / 2);
    border: var(--border-width) var(--border-style) hsl(var(--border));
    border-radius: var(--radius);
    background-color: hsl(var(--muted));
    color: hsl(var(--muted-fg));
}

code {
    display: inline-block;
}

pre {
    display: block;
}

/* }}} */

/* {{{ Select, Input, textarea
*/

select,
input,
textarea {
    display: block;
    border: var(--border-width) var(--border-style) hsl(var(--border));
    border-radius: var(--radius);
    transition: border-color 0.25s linear;
    background-color: transparent;
    color: hsl(var(--fg));
    box-shadow: none;
    outline: none;
    font-size: 95%;
    padding: var(--spacing) calc(var(--spacing) * 1.5);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"] {
    display: inline-block;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    accent-color: hsl(var(--secondary));
}

input[type="color"] {
    height: calc(var(--spacing) * 2 + 2rem);
    padding: var(--spacing) var(--spacing);
    cursor: pointer;
}

input[aria-invalid="true"] {
    border-color: hsl(var(--destructive));
    outline-color: hsl(var(--destructive));
}

input:focus:not([type=checkbox]),
textarea:focus {
    border-color: hsl(var(--primary));
}

input:disabled {
    opacity: 0.25;
}

/* }}} */

/* {{{ UL
*/

ul {
    list-style: none;
    padding: var(--spacing);
    overflow: hidden;
}

ul > * {
    padding: var(--spacing);
}

/* }}} */

/* {{{ Table, Th, Td
*/

table {
    width: 100%;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-collapse: collapse;
    border: var(--border-width) var(--border-style) hsl(var(--border));
}

th {
    background-color: hsl(var(--border));
}

th,
td {
    padding: var(--spacing);
    border: var(--border-width) var(--border-style) hsl(var(--border));
}

td {
    word-break: break-all;
    font-size: 95%;
}

/* }}} */

/* {{{ Blockquote
*/


/*
blockquote{
    border-left: 1px black solid;
    margin: 0;
    padding-left: 1rem;
}
*/

/* }}} */
