:root {
    /*
        basics
    */

    --ui-lineHeight: 1.5;

    --ui-radius: 0.25rem;
    --ui-spacing: 5px;

    --ui-fontFamily: "RecVar";
    --ui-fontSize: 16px;

    --ui-bgColor: hsla(240, 10%, 96.1%, 1);
    --ui-color: hsla(240, 10%, 10%, 1);

    /* NOTE: Used for code blocks */
    --ui-muted-bgColor: hsla(240, 4.8%, 95.9%, 1);
    --ui-muted-color: hsla(240, 3.8%, 46.1%, 1);

    --ui-primary-bgColor: hsla(240, 5.9%, 3.9%, 1);
    --ui-primary-color: hsla(240, 0%, 98%, 1);

    --ui-secondary-bgColor: hsla(240, 5.9%, 75%, 1);
    --ui-secondary-color: hsla(240, 5.9%, 10%, 1);

    --ui-destructive-bgColor: hsla(0, 72.22%, 50.59%, 1);
    --ui-destructive-color: hsla(0, 0%, 98%, 1);

    --ui-borderColor: hsla(240, 5.9%, 82%, 1);

    --ui-ripple-color: currentColor;
    --ui-ripple-opacity: 0.2;

    color-scheme: light;

    /*
        ui-app-bar component
    */

    --ui-app-bar-bgColor: hsla(var(--ui-bgColor), .2);
    --ui-app-bar-backdropFilter: blur(5px);
    --ui-app-bar-borderColor: var(--ui-border-color);
    --ui-app-bar-height: 3rem;

    /*
        TODO: ui-button component
    */

    /*
        TODO: ui-icon-button component
    */

    /*
        ui-card component
    */

    --ui-card-bgColor: hsla(240, 10%, 92.1%, 1);
    --ui-card-color: hsla(240, 10%, 3.9%, 1);
    --ui-card-borderColor: var(--ui-border-color);
    --ui-card-radius: var(--ui-radius);

    /*
        TODO: ui-dialog component
    */

    --ui-dialog-bgColor: ;
    --ui-dialog-color: ;
    --ui-dialog-backdropFilter: ;
    --ui-dialog-outside-bgColor: ;
    --ui-dialog-outside-backdropFilter: ;

    /*
        ui-select component
    */

    --ui-select-bgColor: transparent;
    --ui-select-bgColor--hover: hsla(240, 10%, 10%, 0.1); /* --ui-color & 0.1 alpha */
    --ui-select-color: var(--ui-color);
    --ui-select-borderColor: var(--ui-borderColor);
    --ui-select-radius: var(--ui-radius);
    --ui-select-selected-bgColor: var(--ui-primary-bgColor);
    --ui-select-selected-color: var(--ui-primary-color);
    --ui-select-fontFamily: var(--ui-fontFamily);
    --ui-select-fontVariation: "CASL" 1, "MONO" 1, "slnt" 0;

    /*
        ui-input component
    */

    --ui-input-accentColor: var(--ui-primary-bgColor);
    --ui-input-bgColor: transparent;
    --ui-input-color: var(--ui-color);
    --ui-input-borderColor: var(--ui-borderColor);
    --ui-input-borderColor--focus: var(--ui-primary-bgColor);
    --ui-input-borderColor--invalid: var(--ui-destructive-bgColor);
    --ui-input-radius: var(--ui-radius);
    --ui-input-fontFamily: var(--ui-fontFamily);
    --ui-input-fontVariation: "CASL" 1, "MONO" 1, "slnt" 0;
}
