h1, h2, h3, h4, h5, h6 {
    --text-shadow-color: var(--fg);
    --text-shadow-color-alpha: .6;

    text-shadow: 3px 4px 7px hsla(var(--text-shadow-color), var(--text-shadow-color-alpha));
}

ui-button[color="primary"] {
    --text-shadow-color: var(--primary-fg);
}

ui-button[color="primary"][variant="outline"] {
    --text-shadow-color: var(--primary);
}

ui-button[color="secondary"] {
    --text-shadow-color: var(--secondary-fg);
}

ui-button[color="secondary"][variant="outline"] {
    --text-shadow-color: var(--secondary);
}

ui-button[color="destructive"] {
    --text-shadow-color: var(--destructive-fg);
}

ui-button[color="destructive"][variant="outline"] {
    --text-shadow-color: var(--destructive);
}
