[data-theme="light"] {
    /*
        --_bg-hard: 53, 74%, 91%;
        --_bg: 48, 87%, 88%;
        --_bg-soft: 46, 67%, 84%;
        --_bg1: 43, 59%, 81%;
        --_bg2: 40, 38%, 73%;
        --_bg3: 39, 24%, 66%;
        --_bg4: 35, 17%, 59%;

        --_fg: 0, 0%, 16%;
        --_fg1: 20, 5%, 22%;
        --_fg2: 22, 7%, 29%;
        --_fg3: 27, 10%, 36%;
        --_fg4: 28, 11%, 44%;

        --_red: 358, 100%, 31%;
        --_green: 57, 79%, 26%;
        --_yellow: 37, 80%, 39%;
        --_blue: 190, 89%, 25%;
        --_purple: 323, 39%, 40%;
        --_aqua: 143, 30%, 37%;
        --_orange: 19, 97%, 35%;
        --_gray: 30, 12%, 51%;

        --_red-dim: 6, 84%, 44%;
        --_green-dim: 60, 71%, 35%;
        --_yellow-dim: 40, 73%, 49%;
        --_blue-dim: 194, 38%, 43%;
        --_purple-dim: 333, 34%, 54%;
        --_aqua-dim: 122, 21%, 51%;
        --_orange-dim: 24, 88%, 45%;
        --_gray-dim: 28, 11%, 44%;
    */

    /*
     * Basics
     */

    --ui-bg: hsl(48, 87%, 88%); /* bg */
    --ui-primary: hsl(57, 79%, 26%); /* green */
    --ui-secondary: hsl(30, 12%, 51%); /* gray */
    --ui-destructive: hsl(358, 100%, 31%); /* red */

    --ui-text: hsl(0, 0%, 16%); /* fg */
    --ui-input-text: hsl(27, 10%, 36%); /* fg3 */
    --ui-primary-text: hsl(48, 87%, 88%); /* bg */
    --ui-secondary-text: hsl(48, 87%, 88%); /* bg */
    --ui-destructive-text: hsl(6, 96%, 82%);

    --ui-borderColor: hsl(35, 17%, 59%); /* bg4 */
    --ui-backdrop: var(--ui-bg);
    --ui-ripple: hsla(57, 79%, 26%, 0.2); /* green */

    --ui-info: var(--ui-card);
    --ui-info-text: var(--ui-card-text);

    --ui-warning: hsl(37, 80%, 39%); /* yellow */
    --ui-warning-text: hsl(27, 80%, 84%);

    --ui-error: var(--ui-destructive);
    --ui-error-text: var(--ui-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsl(35, 17%, 59%); /* bg4 */
    --ui-muted-text: hsl(20, 5%, 22%); /* fg1 */
    --ui-muted-borderColor: var(--ui-borderColor);

    /*
     * ui-card
     */

    --ui-card: hsl(43, 59%, 81%); /* bg1 */
    --ui-card-text: hsl(0, 0%, 16%); /* fg */
    --ui-card-borderColor: var(--ui-borderColor);

    background-color: var(--ui-bg);
    color: var(--ui-text);
    color-scheme: light;
}

[data-theme="dark"] {
    /*
        --_bg-hard: 195, 6%, 12%;
        --_bg: 0, 0%, 16%;
        --_bg-soft: 20, 3%, 19%;
        --_bg1: 20, 5%, 22%;
        --_bg2: 22, 7%, 29%;
        --_bg3: 27, 10%, 36%;
        --_bg4: 28, 11%, 44%;

        --_fg: 48, 87%, 88%;
        --_fg1: 43, 59%, 81%;
        --_fg2: 40, 38%, 73%;
        --_fg3: 39, 24%, 66%;
        --_fg4: 35, 17%, 59%;

        --_red: 6, 96%, 59%;
        --_green: 61, 66%, 44%;
        --_yellow: 42, 95%, 58%;
        --_blue: 157, 16%, 58%;
        --_purple: 344, 47%, 68%;
        --_aqua: 104, 35%, 62%;
        --_gray: 30, 12%, 51%;
        --_orange: 27, 99%, 55%;

        --_red-dim: 6, 84%, 44%;
        --_green-dim: 60, 71%, 35%;
        --_yellow-dim: 40, 73%, 49%;
        --_blue-dim: 183, 33%, 40%;
        --_purple-dim: 333, 34%, 54%;
        --_aqua-dim: 122, 21%, 51%;
        --_gray-dim: 35, 17%, 59%;
        --_orange-dim: 24, 88%, 45%;
    /*

    /*
     * Basics
     */

    --ui-bg: hsl(0, 0%, 16%); /* bg */
    --ui-primary: hsl(61, 66%, 44%); /* green */
    --ui-secondary: hsl(30, 12%, 51%); /* gray */
    --ui-destructive: hsl(6, 96%, 59%); /* red */

    --ui-text: hsl(48, 87%, 88%); /* fg */
    --ui-input-text: hsl(39, 24%, 66%); /* fg3 */
    --ui-primary-text: hsl(0, 0%, 16%); /* bg */
    --ui-secondary-text: hsl(0, 0%, 16%); /* bg */
    --ui-destructive-text: hsl(6, 96%, 18%);

    --ui-borderColor: hsl(28, 11%, 44%); /* bg4 */
    --ui-backdrop: hsla(0, 0%, 16%, 0.2); /* --ui-bg */
    --ui-ripple: hsla(61, 66%, 44%, 0.2); /* green */

    --ui-info: var(--ui-card);
    --ui-info-text: var(--ui-card-text);

    --ui-warning: hsl(42, 95%, 58%); /* yellow */
    --ui-warning-text: hsl(42, 95%, 16%);

    --ui-error: var(--ui-destructive);
    --ui-error-text: var(--ui-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-muted: hsl(28, 11%, 44%); /* bg4 */
    --ui-muted-text: hsl(43, 59%, 81%); /* fg1 */
    --ui-muted-borderColor: var(--ui-borderColor);

    /*
     * ui-card
     */

    --ui-card: hsl(20, 5%, 22%); /* bg1 */
    --ui-card-text: hsl(48, 87%, 88%); /* fg */
    --ui-card-borderColor: var(--ui-borderColor);

    background-color: var(--ui-bg);
    color: var(--ui-text);
    color-scheme: dark;
}
