:root {
    --ui-hue: 240;

    --_sl-50: 0%, 98%; /* #fafafa */
    --_sl-100: 5%, 96%; /* #f4f4f5 */
    --_sl-200: 6%, 90%; /* #e4e4e7 */
    --_sl-300: 5%, 84%; /* #d4d4d8 */
    --_sl-400: 5%, 65%; /* #a1a1aa */
    --_sl-500: 4%, 46%; /* #71717a */
    --_sl-600: 5%, 34%; /* #52525b */
    --_sl-700: 5%, 26%; /* #3f3f46 */
    --_sl-800: 4%, 16%; /* #27272a */
    --_sl-900: 6%, 10%; /* #18181b */
    --_sl-950: 10%, 4%; /* #09090b */
}

[data-theme="light"] {
    /*
     * Basics
     */

    --ui-hsl-bg: var(--ui-hue), var(--_sl-50);
    --ui-hsl-primary: var(--ui-hue), var(--_sl-900);
    --ui-hsl-secondary: var(--ui-hue), var(--_sl-500);
    --ui-hsl-destructive: 0, 72%, 51%;

    --ui-hsl-text: var(--ui-hue), var(--_sl-950);
    --ui-hsl-input-text: var(--ui-hue), var(--_sl-950);
    --ui-hsl-primary-text: var(--ui-hue), var(--_sl-100);
    --ui-hsl-secondary-text: var(--ui-hue), var(--_sl-50);
    --ui-hsl-destructive-text: 0, 72%, 92%;

    --ui-hsl-borderColor: var(--ui-hue), var(--_sl-300);

    --ui-hsl-backdrop: var(--ui-hsl-bg);

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 37, 80%, 39%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 27, 80%, 84%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: var(--ui-hue), var(--_sl-300);
    --ui-hsl-muted-text: var(--ui-hue), var(--_sl-700);
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: var(--ui-hue), var(--_sl-200);
    --ui-hsl-card-text: var(--ui-hue), var(--_sl-800);
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: light;
}

[data-theme="dark"] {
    /*
     * Basics
     */

    --ui-hsl-bg: var(--ui-hue), var(--_sl-950);
    --ui-hsl-primary: var(--ui-hue), var(--_sl-100);
    --ui-hsl-secondary: var(--ui-hue), var(--_sl-500);
    --ui-hsl-destructive: 0, 63%, 31%;

    --ui-hsl-text: var(--ui-hue), var(--_sl-50);
    --ui-hsl-input-text: var(--ui-hue), var(--_sl-50);
    --ui-hsl-primary-text: var(--ui-hue), var(--_sl-900);
    --ui-hsl-secondary-text: var(--ui-hue), var(--_sl-950);
    --ui-hsl-destructive-text: 0, 63%, 92%;

    --ui-hsl-borderColor: var(--ui-hue), var(--_sl-700);

    --ui-hsl-backdrop: var(--ui-hsl-bg);

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 42, 95%, 58%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 42, 95%, 16%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: var(--ui-hue), var(--_sl-700);
    --ui-hsl-muted-text: var(--ui-hue), var(--_sl-300);
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);

    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: var(--ui-hue), var(--_sl-800);
    --ui-hsl-card-text: var(--ui-hue), var(--_sl-200);
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);

    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: dark;
}
