[data-theme="light"] {
    /*
     * Basics
     */

    --ui-hsl-bg: 240, 10%, 96%;
    --ui-hsl-primary: 240, 10%, 25%;
    --ui-hsl-secondary: 240, 15%, 75%;
    --ui-hsl-destructive: 0, 72%, 51%;

    --ui-hsl-text: 240, 10%, 10%;
    --ui-hsl-input-text: 240, 10%, 15%;
    --ui-hsl-primary-text: 240, 10%, 98%;
    --ui-hsl-secondary-text: 240, 10%, 10%;
    --ui-hsl-destructive-text: 0, 72%, 92%;

    --ui-hsl-borderColor: 240, 10%, 82%;

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 37, 80%, 39%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 27, 80%, 84%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: 240, 10%, 84%;
    --ui-hsl-muted-text: 240, 10%, 36%;
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: 240, 10%, 92%;
    --ui-hsl-card-text: 240, 10%, 4%;
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: light;
}

[data-theme="dark"] {
    /*
     * Basics
     */

    --ui-hsl-bg: 240, 10%, 4%;
    --ui-hsl-primary: 240, 10%, 75%;
    --ui-hsl-secondary: 240, 15%, 25%;
    --ui-hsl-destructive: 0, 63%, 31%;

    --ui-hsl-text: 240, 10%, 90%;
    --ui-hsl-input-text: 240, 10%, 85%;
    --ui-hsl-primary-text: 240, 10%, 10%;
    --ui-hsl-secondary-text: 240, 10%, 98%;
    --ui-hsl-destructive-text: 0, 63%, 92%;

    --ui-hsl-borderColor: 240, 10%, 18%;

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 42, 95%, 58%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 42, 95%, 16%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: 240, 10%, 16%;
    --ui-hsl-muted-text: 240, 10%, 65%;
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);

    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: 240, 10%, 8%;
    --ui-hsl-card-text: 240, 10%, 98%;
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);

    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: dark;
}
