:root {
    --_hue: 240;

    --_sl-50: 5%, 90%;
    --_sl-100: 10%, 97.9%;
    --_sl-200: 12%, 90%;
    --_sl-300: 25%, 83.9%;
    --_sl-400: 10%, 64.9%;
    --_sl-500: 9%, 46.1%;
    --_sl-600: 10%, 33.9%;
    --_sl-700: 25%, 26.1%;
    --_sl-800: 9%, 15.9%;
    --_sl-900: 12%, 3.9%;
    --_sl-950: 10%, 5.9%;
}

[data-theme="light"] {
    /*
     * Basics
     */

    --ui-hsl-bg: var(--_hue), var(--_sl-100);
    --ui-hsl-primary: var(--_hue), var(--_sl-700);
    --ui-hsl-secondary: var(--_hue), var(--_sl-400);
    --ui-hsl-destructive: 0, 72%, 51%;

    --ui-hsl-text: var(--_hue), var(--_sl-950);
    --ui-hsl-input-text: var(--_hue), var(--_sl-800);
    --ui-hsl-primary-text: var(--_hue), var(--_sl-300);
    --ui-hsl-secondary-text: var(--_hue), var(--_sl-900);
    --ui-hsl-destructive-text: 0, 72%, 92%;

    --ui-hsl-borderColor: var(--_hue), var(--_sl-400);

    --ui-hsl-backdrop: var(--ui-hsl-bg);

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 37, 80%, 39%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 27, 80%, 84%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: var(--_hue), var(--_sl-400);
    --ui-hsl-muted-text: var(--hue), var(--_sl-600);
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);
    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: var(--_hue), var(--_sl-200);
    --ui-hsl-card-text: var(--_hue), var(--_sl-800);
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);
    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: light;
}

[data-theme="dark"] {
    /*
     * Basics
     */

    --ui-hsl-bg: var(--_hue), var(--_sl-950);
    --ui-hsl-primary: var(--_hue), var(--_sl-300);
    --ui-hsl-secondary: var(--_hue), var(--_sl-600);
    --ui-hsl-destructive: 0, 63%, 31%;

    --ui-hsl-text: var(--_hue), var(--_sl-50);
    --ui-hsl-input-text: var(--_hue), var(--_sl-200);
    --ui-hsl-primary-text: var(--_hue), var(--_sl-700);
    --ui-hsl-secondary-text: var(--_hue), var(--_sl-100);
    --ui-hsl-destructive-text: 0, 63%, 92%;

    --ui-hsl-borderColor: var(--_hue), var(--_sl-600);

    --ui-hsl-backdrop: var(--ui-hsl-bg);

    --ui-hsl-info: var(--ui-hsl-card);
    --ui-hsl-info-text: var(--ui-hsl-card-text);

    --ui-hsl-warning: 42, 95%, 58%; /* gruvbox: --hsl-yellow */
    --ui-hsl-warning-text: 42, 95%, 16%;

    --ui-hsl-error: var(--ui-hsl-destructive);
    --ui-hsl-error-text: var(--ui-hsl-destructive-text);

    /*
     * Muted: code, pre
     */

    --ui-hsl-muted: var(--_hue), var(--_sl-600);
    --ui-hsl-muted-text: var(--_hue), var(--_sl-400);
    --ui-hsl-muted-borderColor: var(--ui-hsl-borderColor);

    --ui-muted-fontFamily: var(--ui-fontFamily);

    /*
     * ui-card
     */

    --ui-hsl-card: var(--_hue), var(--_sl-800);
    --ui-hsl-card-text: var(--_hue), var(--_sl-200);
    --ui-hsl-card-borderColor: var(--ui-hsl-borderColor);

    --ui-card-radius: var(--ui-radius);

    background-color: hsl(var(--ui-hsl-bg));
    color: hsl(var(--ui-hsl-text));

    color-scheme: dark;
}
