@use "../../settings" as settings;

@use "light";
@use "dark";

@import "https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap";

$font-name: "Recursive";

// FIXME:I Don't like this font setup
@mixin variation($type) {
    @if $type == default {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "wght" 400,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == mono {
        font-variation-settings:
            "MONO" 1,
            "CASL" 0,
            "wght" 400,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == lighter {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "whgt" 300,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == normal {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "whgt" 400,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == bold {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "whgt" 600,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == bolder {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "whgh" 800,
            "slnt" 0,
            "CRSV" 0.5;
    } @else if $type == italic {
        font-variation-settings:
            "MONO" 0,
            "CASL" 1,
            "wght" 400,
            "slnt" -10,
            "CRSV" 0.5;
    }
}

html,
body {
    font-family: $font-name;
    @include variation(default);
}

blockquote {
    font-family: $font-name;
    @include variation(italic);
}

code,
kbd,
pre,
samp {
    font-family: $font-name;
    @include variation(mono);
}

summary::after {
    font-family: $font-name;
    @include variation(bolder);
}

b {
    font-family: $font-name;
    @include variation(bold);
}

i {
    font-family: $font-name;
    @include variation(italic);
}

:root {
    #{settings.$css-var-prefix}font-family: $font-name, sans-serif;
    #{settings.$css-var-prefix}font-size: 1rem;
    #{settings.$css-var-prefix}line-height: 1.5;

    #{settings.$css-var-prefix}border-width: 0.5px;
    #{settings.$css-var-prefix}border-style: solid;

    #{settings.$css-var-prefix}radius: 0.25rem;
    #{settings.$css-var-prefix}spacing: 0.5rem;

    #{settings.$css-var-prefix}app-bar-height: 3rem;
    #{settings.$css-var-prefix}dialog-header-height: 2.5rem;
    #{settings.$css-var-prefix}dialog-footer-height: 3rem;

    #{settings.$css-var-prefix}backdrop-filter: blur(5px);

    #{settings.$css-var-prefix}ripple-color: currentColor;
    #{settings.$css-var-prefix}ripple-opacity: 0.2;

    #{settings.$css-var-prefix}focus-color: currentColor;
}

[data-theme="light"],
:root {
    @include light.theme;
}

// Override light theme if dark was set
[data-theme="dark"] {
    @include light.theme;
}

// Auto theme handling dark/light
[data-theme="auto"] {
    // light theme is the default, only need to check for dark here
    @media only screen and (prefers-color-scheme: dark) {
        @include light.theme;
    }
}
