@use "sass:color";
@use "../../settings";

// hsl: 240, 10%, 10%; https://uicolors.app/create
$color-50: #f7f7f8;
$color-100: #ededf1;
$color-200: #d7d8e0;
$color-300: #b5b6c4;
$color-400: #8c8fa4;
$color-500: #6e7189;
$color-600: #585971;
$color-700: #48495c;
$color-800: #3e3e4e;
$color-900: #373843;
$color-950: #373843;

//$bg: #ffffff;
$bg: $color-50;
$text: $color-950;

$primary: $color-700;
$secondary: $color-400;

$info: color.adjust($color-50, $lightness: -10%);
$info-text: $color-950;

$destructive: #ffc0c0;
$destructive-text: #b10303;

$warning: #ffdd88;
$warning-text: #94330c;

$backdrop-color: rgba($bg, 0.2);
$border-color: $color-300;

@mixin theme() {
    #{settings.$css-var-prefix}bg: $bg;
    #{settings.$css-var-prefix}text: $text;

    #{settings.$css-var-prefix}primary: $primary;
    #{settings.$css-var-prefix}secondary: $secondary;

    #{settings.$css-var-prefix}destructive: $destructive;
    #{settings.$css-var-prefix}destructive-text: $destructive-text;

    #{settings.$css-var-prefix}info: $info;
    #{settings.$css-var-prefix}info-text: $info-text;

    #{settings.$css-var-prefix}warning: $warning;
    #{settings.$css-var-prefix}warning-text: $warning-text;

    #{settings.$css-var-prefix}error: $destructive;
    #{settings.$css-var-prefix}error-text: $destructive-text;

    #{settings.$css-var-prefix}backdrop-color: $backdrop-color;
    #{settings.$css-var-prefix}border-color: $border-color;

    background-color: $bg;
    color: $text;

    color-scheme: light;
}
