@use "../settings" as *;
@use "../theme-variables" as *;

@mixin backdrop() {
    background-color: $backdrop-color;
}

.#{$css-selector-prefix}backdrop {
    @include backdrop();
}

.#{$css-selector-prefix}primary {
    background-color: $primary;
    color: $primary-text;
}

.#{$css-selector-prefix}secondary {
    background-color: $secondary;
    color: $secondary-text;
}

.#{$css-selector-prefix}destructive {
    background-color: $destructive;
    color: $destructive-text;
}

.#{$css-selector-prefix}muted {
    background-color: $muted;
    color: $muted-text;
}
