@use "../settings" as *;

.#{$css-selector-prefix}flex {
    display: flex;
    flex-flow: var(--direction, row) var(--wrap, nowrap);
    align-items: var(--align);
    justify-content: var(--justify);
}

.#{$css-selector-prefix}flex.inline {
    display: inline-flex;
}

.#{$css-selector-prefix}flex.wrap {
    flex-wrap: wrap;
}

.#{$css-selector-prefix}flex.nowrap {
    flex-wrap: nowrap;
}

.#{$css-selector-prefix}flex.row {
    flex-flow: row var(--wrap, nowrap);
}

.#{$css-selector-prefix}flex.row.reverse {
    flex-flow: row-reverse var(--wrap, nowrap);
}

.#{$css-selector-prefix}flex.column {
    flex-flow: column var(--wrap, nowrap);
}

.#{$css-selector-prefix}flex.column.reverse {
    flex-flow: column-reverse var(--wrap, nowrap);
}

.#{$css-selector-prefix}flex.align-center {
    align-items: center;
}

.#{$css-selector-prefix}flex.align-start {
    align-items: flex-start;
}

.#{$css-selector-prefix}flex.align-end {
    align-items: flex-end;
}

.#{$css-selector-prefix}flex.justify-center {
    justify-content: center;
}

.#{$css-selector-prefix}flex.justify-start {
    justify-content: flex-start;
}

.#{$css-selector-prefix}flex.justify-end {
    justify-content: flex-end;
}

.#{$css-selector-prefix}flex.justify-evenly {
    justify-content: space-evenly;
}

.#{$css-selector-prefix}flex.justify-around {
    justify-content: space-around;
}

.#{$css-selector-prefix}flex.justify-between {
    justify-content: space-between;
}
