@use "../settings" as *;

@mixin hide-scrollbar() {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

.#{$css-selector-prefix}auto-scroll {
    overflow: auto;
}

.#{$css-selector-prefix}auto-scroll-x {
    overflow-x: auto;
}

.#{$css-selector-prefix}auto-scroll-y {
    overflow-y: auto;
}

.#{$css-selector-prefix}hide-scrollbar {
    @include hide-scrollbar();
}
