@use "../settings" as *;
@use "../theme-variables" as *;

.#{$css-selector-prefix}padding {
  padding: $spacing;
}

.#{$css-selector-prefix}padding-x {
  padding-left: $spacing;
  padding-right: $spacing;
}

.#{$css-selector-prefix}padding-y {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

.#{$css-selector-prefix}margin {
  margin: $spacing;
}

.#{$css-selector-prefix}margin-x {
  margin-left: $spacing;
  margin-right: $spacing;
}

.#{$css-selector-prefix}margin-y {
  margin-top: $spacing;
  margin-bottom: $spacing;
}
