@use "../settings" as *;
@use "../theme-variables" as *;

.#{$css-selector-prefix}outline-text {
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: $text;

    color: transparent;
}
