@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.spinner::after {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.25rem;
	margin-left: -1.25rem;
	content: "";
	width: 2.5rem;
	height: 2.5rem;
	border: 2px solid var(--border, #ccc);
	border-top-color: var(--primary, #333);
	border-radius: 50%;
	animation: spinner 0.6s linear infinite;
}
